body{
    position: absolute;
    width: 1440px;
    height: 3402px;
}

p{
  width: 580px;
}
/* header */
.border{
  display: flex;
    position: absolute;
    width: 1440px;
height: 747px;
margin-left: 240px;
background: rgba(26, 16, 66, 0.95);
}
.top-conection {
    display: flex;
  
    }
    
    .top-conection>.item:not(:last-child) {
    margin-right: 20px;
    }

   .item{
    width: 150px;
    height: 61px;
   }

   .link {
    text-decoration: none;
    font-style: normal;
  }
   p{ 
    width: 620px;
    height: 18px;
    font-family: 'Molle';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    
    color: #FFFFFF;
   }



    .list {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      .nav-link{
        position: absolute;
        width: 150px;
        height: 61px;
        
        font-family: 'Fascinate Inline';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        
        color: #FFFFFF;
      }
      .container-border{
        padding-top: 41px;
       padding-left: 175px;
        position: absolute;
        width: 873px;
        height: 82px;
      }
      .img{ 
        margin-top: 31px;
        margin-left: 740px;
      }
      .img-t{
        position: absolute;
      width: 466px;
      height: 466px;
      margin-left: 805px;
      margin-top: 239px;
      }
      .text{
       margin-top: 100px;
       padding-right: 30px;

       position: absolute;
       width: 620px;
       height: 240px;
       
       font-family: 'Molle';
       font-style: normal;
       font-weight: 400;
       font-size: 60px;
       line-height: 75px;
       text-align: center;
       
       color: #FFFFFF;
      
      }
      .p-t{
        width: 620px;
        height: 240px; 
      }
     .color{
      font-family: 'Molle';
      font-style: normal;
      font-weight: 400;
      font-size: 60px;
      line-height: 75px;
      text-align: center;
      
      color:#35F731 ;
     }
    
     .Rectangle2{
      position: absolute;
width: 430px;
height: 146px;
margin-top: 425px;
margin-left: 100px;

background: rgba(255, 255, 255, 0.18);
     }
     .g100{
      position: absolute;
width: 616px;
height: 202px;

font-family: 'Molle';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #FFFFFF;
     }
     /* nav */
     .nav{
      display: flex;
      position: absolute;
      height: 747px;
    margin-left: 240px;
    width: 1440px;
   height: 747px;
    margin-top: 747px;
    background-color:rgba(26, 16, 66, 0.95) ;
     }

     .div-nav{
      
      position: absolute;
      width: 1260px;
      height: 574px;
    
     padding-left: 70px;
     padding-top: 71px;
     }

     .nav-div{
      width: 502px;
      height: 502px;
      margin-top: 72px;
      padding-right: 100px;
     }
     /* .si > .list:not(:last-child){
     margin-left: 100px;
     margin-top: 100px;
     } */
     .ul-nav{
      display: flex;
      position: absolute;
    
      padding-left: 534px;
     padding-bottom: 160px;
      font-family: 'Molle';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;

      color: #FFFFFF;
     }

     .nav-s{
      
     position: absolute;
     display: flex;
    margin-left: 240px;
    width: 1440px;
   height: 747px;
    margin-top: 1494px;
    background-color:rgba(26, 16, 66, 0.95) ;
     }

     .ul-nav-s{
      position: absolute;
      width: 548px;
      height: 91px;
      padding-left: 534px;
     padding-bottom: 140px;
      font-family: 'Molle';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;

      color: #FFFFFF;
     }
     .div-nav-s{
      position: absolute;
      width: 1260px;
      height: 574px;
    
     padding-left: 70px;
     padding-top: 71px;
     }
     .paragraph{
      position: absolute;
      width: 548px;
      height: 91px;
      padding-right: 50px;

      font-family: 'Molle';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 60px;

      color: #FFFFFF;

     }